<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title  -->
	<title>Karl - Fashion Ecommerce Template | Cart</title>

	<!-- Favicon  -->
	<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

	<!-- Core Style CSS -->
	<link rel="stylesheet" th:href="@{/css/core-style.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- Responsive CSS -->
	<link href="@{/css/responsive.css}" rel="stylesheet">
</head>

<body>
	<div th:insert="~{index::side-menu}"></div>

	<div id="wrapper">

		<!-- ****** Header Area Start ****** -->
		<header th:insert="~{index::header-area}"></header>
		<!-- ****** Header Area End ****** -->

		<!-- ****** Top Discount Area Start ****** -->
		<section th:insert="~{index::top-discount-area}"></section>
		<!-- ****** Top Discount Area End ****** -->

		<!-- ****** Cart Area Start ****** -->
		<div class="cart_area section_padding_100 clearfix">
			<div class="container">
				<!-- 주문 정보 하나만 표시 -->
				<div class="row">
					<div class="col-12">
						<div class="cart-table clearfix">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th>Product</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<!-- orderForm에서 받은 주문의 상품들을 반복하여 표시 -->
									<tr th:each="orderItem : ${orderForm.order.orderItems}">
										<td class="cart_product_img d-flex align-items-center">
											<!--	<a href="#"><img th:src="@{/img/product-img/product-9.jpg}"
													alt="Product"></a>-->
											<h6 th:text="${orderItem.product.name}"></h6>
										</td>
										<td class="price"><span th:text="${orderItem.price}"></span></td>
										<td class="qty">
											<div class="quantity" th:text="${orderItem.quantity}"></div>
										</td>
										<td class="review">
											<a th:href="@{/upload-review(productId=${orderItem.product.productId})}"><img
													th:src="@{/img/review_button.png}"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-8"></div>
						<div class="col-12 col-lg-4" style="width: 700px;">
							<div class="cart-total-area mt-70">
								<a href="/viewAllOrders" class="btn karl-checkout-btn">내 모든 주문 내역</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ****** Cart Area End ****** -->

		<!-- ****** Footer Area Start ****** -->
		<footer th:insert="~{index::footer-area}"></footer>
		<!-- ****** Footer Area End ****** -->
	</div>
	<!-- /.wrapper end -->

	<!-- jQuery (Necessary for All JavaScript Plugins) -->
	<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{/js/popper.min.js}"></script>
	<!-- Bootstrap js -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Plugins js -->
	<script th:src="@{/js/plugins.js}"></script>
	<!-- Active js -->
	<script th:src="@{/js/active.js}"></script>
</body>

</html>