<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title  -->
	<title>Karl - Fashion Ecommerce Template | Event</title>

	<!-- Favicon  -->
	<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

	<!-- Core Style CSS -->
	<link rel="stylesheet" th:href="@{/css/core-style.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- Responsive CSS -->
	<link th:href="@{/css/responsive.css}" rel="stylesheet">

</head>

<body>
	<div th:insert="~{index::side-menu}"></div>

	<div id="wrapper">

		<!-- ****** Header Area Start ****** -->
		<header th:insert="~{index::header-area}"></header>
		<!-- ****** Header Area End ****** -->

		<section th:insert="~{index::top-discount-area}"></section>
		<!-- ****** Checkout Area Start ****** -->
		<div class="checkout_area section_padding_100">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6">
						<div class="checkout_details_area mt-50 clearfix">

							<div class="cart-page-heading">
								<h5>EVENT UPLOAD</h5>
							</div>
							<form method="post" th:action="@{/uploadEvent}" enctype="multipart/form-data"
								th:object="${eventForm.event}">
								<div class="row">
									<div class="col-12 mb-3">
										<label for="title">Title</label>
										<input type="text" class="form-control" id="title" value="" th:field="*{title}"
											style="height: 100px;" required>
									</div>
									<div class="col-12 mb-3">
										<label for="content">Content</label>
										<input type="text" class="form-control" id="content" value=""
											th:field="*{content}" style="height: 100px;" required>
									</div>
									<div class="col-12 mb-3">
										<label for="joinCount">Join Count(모집할 사람 수) <span>*</span></label>
										<input type="text" class="form-control" id="joinCount"
											th:field="*{joinCount}" required>
									</div>
									<div class="col-12 mb-4">
										<label for="event image">Event Image<span>*</span></label><br>
										<input type="file" class="real-upload" accept="image/*" required multiple
											th:field="${eventForm.eventImage}">
									</div>
									<p></p>
									<div class="col-12">
										<button type="submit" class="btn karl-checkout-btn">Upload Events</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- ****** Checkout Area End ****** -->

		<!-- ****** Footer Area Start ****** -->
		<footer th:insert="~{index::footer-area}"></footer>
		<!-- ****** Footer Area End ****** -->
	</div>
	<!-- /.wrapper end -->

	<!-- jQuery (Necessary for All JavaScript Plugins) -->
	<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{/js/popper.min.js}"></script>
	<!-- Bootstrap js -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Plugins js -->
	<script th:src="@{/js/plugins.js}"></script>
	<!-- Active js -->
	<script th:src="@{/js/active.js}"></script>

</body>

</html>